.root{
    
    -fx-background-color : #56595B; 
}


.label{
    -fx-font: normal bold 20px 'serif';
    -fx-text-fill: white;
}
.button{
    -fx-text-fill: white;
    -fx-background-color: #cbc938;
    -fx-font-size: large;
}

